{
  "root": true,
  "env": {
    "node": true,
    "browser": true
  },
  "extends": [
    "plugin:react/recommended",
    "eslint:recommended",
    "standard"
  ],
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "rules": {
    "arrow-parens": [
      "error",
      "always"
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "ignore",
        "exports": "ignore",
        "functions": "never"
      }
    ],
    "curly": [
      "error",
      "multi-line"
    ],
    "no-var": "off",
    "no-console": [
      "warn",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "object-shorthand": "off",
    "padded-blocks": "off",
    "semi": [
      "error",
      "always"
    ],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "*.test.js"
      ],
      "env": {
        "mocha": true
      }
    },
    {
      "files": [
        "**/*.jsx"
      ],
      "rules": {
        "react/jsx-indent": [
          "error",
          2,
          {
            "checkAttributes": true
          }
        ],
        "react/prop-types": "off"
      }
    },
    {
      "files": [
        "**/*.html"
      ],
      "plugins": [
        "eslint-plugin-html"
      ]
    }
  ]
}
