.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;
  position: relative;

  /* your code here */
}

#bulbasaur {
  /* your code here */
  top: 1rem;
}

#charmander {
  /* your code here */
  top: 3rem;
}

#squirtle {
  /* your code here */
  top: 5rem;
}

#pikachu {
  /* your code here */
  top: 11rem;
}

#jigglypuff {
  /* your code here */
  top: 20rem;
}
