.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

img {
  width: 100%;
}

.column-one-fourth {
  flex-basis: calc(100% / 4);
}

.column-two-thirds {
  flex-basis: calc(2 / 3 * 100%);
}
