* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  color: rgb(19 19 19);
  font-weight: 300;
  font-family: sans-serif;
}

h2 {
  font-weight: 400;
}

form {
  margin: 3rem auto;
  padding: 1rem 2rem 2rem;
  max-width: 560px;
  background-color: rgb(240 240 240);
  border: 1px solid rgb(189 189 189);
}

label,
input,
textarea {
  display: block;
  width: 100%;
}

form,
button,
input,
textarea {
  border-radius: 0.25rem;
}

label {
  margin-bottom: 0.75rem;
}

input,
textarea {
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid rgb(189 189 189);
  font-size: 1rem;
  font-family: sans-serif;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid rgb(150 66 233);
  box-shadow: 0 0 1px 1px rgb(150 66 233 / 60%);
}

::placeholder {
  color: rgb(0 0 0 / 30%);
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  color: white;
  text-transform: uppercase;
  background-color: rgb(150 66 233);
  cursor: pointer;
  transition: background-color 0.15s ease;
}

button:hover {
  background-color: rgb(128 52 205);
}

button:focus {
  outline: none;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}
